<div ng-app="myApp" ng-controller="customersCtrl">

    <div class="header_parent_div">
        <input type="text" placeholder="Search" class="search_input_tag">
        <button type="button" ng-if="isMultiSelected" class="btn btn-danger">Delete</button>
        <button type="button" ng-if="isMultiSelected" class="btn btn-warning">Merge</button>
        <button type="button" class="btn btn-primary" ng-click="showAddModal()">Add</button>
        <i title="Refresh" class="refresh_icon fa fa-refresh"></i>
    </div>

</div>