<div ng-app="myApp" ng-controller="customersCtrl" class="main_div">

  <div class="header_parent_div">
    <input type="text" placeholder="Search" class="search_input_tag">
    <button type="button" ng-if="!showAddSection" class="btn btn-primary" ng-click="showAddModal()">Add</button>
    <i title="Refresh" class="refresh_icon fa fa-refresh" ng-click="refreshTable()"></i>
  </div>
  <article>
    Last Refreshed On : {{ applicationData.last_refreshed_on }}
  </article>
  <!-- Workspace dropdown -->
  <article class="dropdown_block">
    <label for="workspaceInput">Select your workspace :</label>
    <select id="cars" class="dropdown_input workspace_dropdown">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </article>
  <!-- Add Section -->
  <section ng-if="showAddSection" class="add_section_tag">
    <header class="add_section_tag_header">
      <span>
        Add Branches
      </span>
      <i class="fa fa-times cross_icon" ng-click="showAddModal()"></i>
    </header>
    <div class="add_section_tag_content">
      <div class="workspace_input_block">
        <span ng-if="!showWorkspaceDropdown" class="dropdown_block">
          <label for="workspaceInput">Enter your workspace name:</label>
          <input list="workspace_list" name="workspaceInput" class="dropdown_input"
            placeholder="Enter your workspace name" />
        </span>
        <span ng-if="showWorkspaceDropdown" class="dropdown_block">
          <label for="workSpaceExistingSelect">Select your workspace name:</label>
          <select id="cars" name="workSpaceExistingSelect" class="dropdown_input workspace_dropdown">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </span>
        <span>
          <input type="checkbox" ng-click="toggleWorkspaceDropdownInAddModal()">
          <label>Select from existing workspace.</label>
        </span>
      </div>
      <div class="branches_input_block">

        <div class="parent_block dropdown_block">
          <label for="parentBranch">Parent Branch:</label>
          <input name="parentBranch" class="dropdown_input" placeholder="Enter Branch Name" />
        </div>
        <div class="line"></div>
        <div class="child_block dropdown_block">
          <label for="childBranch">Child Branch:</label>
          <input name="childBranch" class="dropdown_input" placeholder="Enter Branch Name" />
        </div>
      </div>
    </div>
    <div class="add_section_tag_footer">
      <button type="button" class="btn btn-primary" ng-click="showAddModal()">Add</button>
    </div>
  </section>
  <!-- Branch Data and Status Section -->
  <section>
    <details ng-repeat="data in applicationData.status_details">
      <summary class="header" ng-class="data.id">
        <span>{{ data.name }}</span>
        <button type="button" ng-if="data.is_deletable" class="action_button btn btn-danger">Delete</button>
        <button type="button" ng-if="data.is_mergable" class="action_button btn btn-warning">Merge</button>
      </summary>
      <div class="content">
        <table>
          <tr>
            <th style="width: 3vw;"><input type="checkbox" name="selectAllCheckBox" ng-id="data.id"></th>
            <th>Parent Branch</th>
            <th>Child Branch</th>
            <th>Status</th>
          </tr>
          <tr ng-class="data.id+'qwerty'" ng-repeat="branchDetails in applicationData.branch_data[data.id]">
            <td><input type="checkbox" ng-value="branchDetails.is_checked"></td>
            <td>{{ branchDetails.parent_branch }}</td>
            <td>{{ branchDetails.child_branch }}</td>
            <td>{{ branchDetails.status }}</td>
          </tr>
        </table>
      </div>
    </details>
  </section>
</div>