<div ng-app="myApp" ng-controller="customersCtrl" class="main_div">
  <div class="header_parent_div">
    <input
      type="text"
      placeholder="Search"
      class="search_input_tag"
      ng-model="searchText"
      ng-change="search()"
    />
    <button
      type="button"
      ng-if="!showAddSection"
      class="btn btn-primary"
      ng-click="showAddModal()"
    >
      Add
    </button>
    <i
      title="Refresh"
      class="refresh_icon fa fa-refresh"
      ng-click="refreshTable()"
    ></i>
  </div>
  <article>Last Refreshed On : {{ applicationData.last_refreshed_on }}</article>
  <!-- project dropdown -->
  <article class="dropdown_block">
    <label>Select your project :</label>
    <select
      class="dropdown_input project_dropdown"
      ng-change="selectProject(currentProject)"
      ng-model="currentProject"
    >
      <option
        ng-repeat="projectName in project_dropdown_value"
        ng-value="projectName"
      >
        {{ projectName }}
      </option>
    </select>
  </article>
  <!-- Add Section -->
  <section ng-if="showAddSection" class="add_section_tag">
    <header class="add_section_tag_header">
      <span> Add Branch </span>
      <i class="fa fa-times cross_icon" ng-click="closeAddSection()"></i>
    </header>
    <div class="add_section_tag_content">
      <div>
        <span class="dropdown_block">
          <label for="projectExistingSelect">Select your projects:</label>
          <label class="text-sm"
            >(contains only list of projects present in current
            workspace)</label
          >
          <select
            name="projectExistingSelect"
            class="dropdown_input project_dropdown"
            ng-options="projectName for projectName in project_dropdown_value"
            ng-change="setProjectName()"
            ng-model="addFormObject.project_name"
          >
            <option value="">Select Project</option>
          </select>
        </span>
      </div>
      <div class="branches_input_block">
        <div class="parent_block dropdown_block">
          <label for="parentBranch">Parent Branch:</label>
          <input
            ng-model="addFormObject.parent_branch"
            name="parentBranch"
            class="dropdown_input"
            ng-change="verifyBranch(addFormObject.parent_branch, 'parent')"
            ng-disabled="add_project_details_inputs"
            ng-model-options="{ debounce: 500 }"
            placeholder="Enter Branch Name"
          />
          <p ng-if="is_parent_branch_exists === true" class="warning text-sm">
            Parent branch doesn't exists.
          </p>
          <p ng-if="is_parent_branch_exists === false" class="success text-sm">
            Parent branch exists.
          </p>
        </div>
        <div class="line"></div>
        <div class="child_block dropdown_block">
          <label for="childBranch">Child Branch:</label>
          <input
            ng-model="addFormObject.child_branch"
            name="childBranch"
            class="dropdown_input"
            ng-change="verifyBranch(addFormObject.child_branch, 'child')"
            ng-disabled="add_project_details_inputs"
            ng-model-options="{ debounce: 500 }"
            placeholder="Enter Branch Name"
          />
          <p ng-if="is_child_branch_exists === true" class="warning text-sm">
            Child branch doesn't exists.
          </p>
          <p ng-if="is_child_branch_exists === false" class="success text-sm">
            Child branch exists.
          </p>
        </div>
      </div>
    </div>
    <div class="add_section_tag_footer">
      <p
        ng-if="addFormObject.child_branch === addFormObject.parent_branch && 
        addFormObject.child_branch && addFormObject.parent_branch"
        class="warning text-sm"
      >
        Parent branch and child branch cant be same.
      </p>
      <button
        type="button"
        class="btn btn-primary"
        ng-disabled="add_project_details_button"
        ng-click="addBranch()"
      >
        Add
      </button>
    </div>
  </section>
  <!-- Branch Data and Status Section -->
  <section ng-if="applicationData.branch_data[currentProject]">
    <details ng-repeat="data in applicationData.status_details">
      <summary class="header" ng-class="data.id">
        <span>{{ data.name }}</span>
        <button
          type="button"
          ng-if="data.is_deletable"
          class="action_button btn btn-danger"
        >
          Delete
        </button>
        <button
          type="button"
          ng-if="data.is_mergable"
          class="action_button btn btn-warning"
        >
          Merge
        </button>
      </summary>
      <div class="content">
        <table>
          <tr>
            <th style="width: 23px">
              <input
                type="checkbox"
                name="selectAllCheckBox"
                ng-id="data.id"
                ng-disabled="applicationData.branch_data[currentProject][data.id].length === 0"
              />
            </th>
            <th>Parent Branch</th>
            <th>Child Branch</th>
            <th>Status</th>
          </tr>
          <tr
            ng-class="data.id+'qwerty'"
            ng-if="applicationData.branch_data[currentProject][data.id].length"
            ng-repeat="branchDetails in applicationData.branch_data[currentProject][data.id]"
          >
            <td>
              <input type="checkbox" ng-value="branchDetails.is_checked" />
            </td>
            <td>{{ branchDetails.parent_branch }}</td>
            <td>{{ branchDetails.child_branch }}</td>
            <td>{{ branchDetails.status }}</td>
          </tr>
          <tr
            ng-if="!applicationData.branch_data[currentProject][data.id].length"
          >
            <td colspan="4" rowspan="1" class="empty_message">
              You have zero branches in this state.
            </td>
          </tr>
        </table>
      </div>
    </details>
  </section>
  <section
    ng-if="!applicationData.branch_data[currentProject]"
    class="no_data_message_section"
  >
    <header class="text-xxlarge">&#128528; Oops! No data found.</header>
    <section class="no_data_message_section__description">
      <h3>You can add branch in this project by following this procedure:</h3>
      <ol type="1">
        <li>Click on the "Add" button</li>
        <li>
          In the add section you can type add your project name or select from
          the dropdown.
        </li>
      </ol>
    </section>
  </section>
</div>
